plugins {
    id 'java'
}

group = 'org.openapitools'
version = '0.0.1-SNAPSHOT'
sourceCompatibility = '1.8'

repositories {
    mavenLocal()
    mavenCentral()
}

dependencies {
    implementation 'org.openapitools:openapi-generator:5.0.0'
    testImplementation 'junit:junit:4.13'
}
