package {{package}};

import {{package}}.model.{{returnType}};
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframewallowork.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;
import javax.validation.constraints.*;
@Validated
public interface {{classname}} {

{{#operations}}
    {{#operation}}
    /**
     * {{#summary}}{{.}}{{/summary}}
     */
    @PostMapping(value = "{{path}}")
    default ResponseEntity<{{{returnType}}}> {{operationId}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{/allParams}}) {
        return new ResponseEntity<>(HttpStatus.NOT_IMPLEMENTED);
    }

    {{/operation}}
{{/operations}}
}